<!DOCTYPE html>
 {% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="icon" href="{% static 'icons/navbar/logo/logo.png' %}">

    <title>
        SIFRA Sign-Up
    </title>
</head>
<body onload="toastFunction()">
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'icons/navbar/logo/logo.png' %}" alt="">
        </div>

        <form class="p-3 mt-3" method="POST" action="">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-envelope"></span>
                <input type="email" name="email" id="email" placeholder="Enter Email">
            </div>

            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" placeholder="Enter Username">
            </div>
            
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" placeholder="Enter Password">
            </div>

            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="confirmPassword" placeholder="Confirm Password">
            </div>
            <button class="btn mt-3" value="SignUp" type="submit">Sign Up</button>
        </form>
        <br>

        <div class="text-center fs-6">
            <p>Already a member?
                <br>
                <a href="{% url 'user-signin' %}">
                    <span class="fs-5 color-primary">Sign In!</span>
                </a>
            </p>
        </div>
        <br>
    </div>

    <div>
        {% if messages %}
            {% for message in messages %}
                <div id="toast"
                    {% if message.tags %} 
                        class="{{message.tags}}"
                    {% endif %}
                >
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="footer" style="text-align: center;">
	{% now "Y" as current_year %}
        <span style="color: #000;">
        Copyright © {{ current_year }} SIFRA All rights reserved.
        </span>
    </div>

</body>

{% comment %} Alert Messages Script {% endcomment %}
<script src="{% static 'js/user_signin.js' %}"></script>

</html>
